
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgb(224, 223, 223);
    
}



h1, h2{ 
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:black;
    
}


#logo a {
    text-decoration: none;
    color: black;
}


#logo {
    border: 2px solid black;
    box-shadow: 1px 1px 19px #020202;
    border-radius: 20px;
}


#logo {
    font-size: 50px;
    text-align: center;
    margin: 50px;
    padding: 30px;
    line-height: 100px;
    letter-spacing: 40px;
    word-spacing: 20px;
   
   
}
#navigation li{
    list-style-type: none;
  text-align: center;
   display:inline-block;
}

#navigation a {
    text-decoration: none;
    color:black;
}

#navigation {
    font-size: 40px;
   text-align:center;
   line-height: 100px;
   font-size:40px;
   text-transform: uppercase;
   font-family: 'Times New Roman', Times, serif;
word-spacing: 100px;
    
}



#navigation a:hover {
    border-bottom: 2px solid black;
    
}



.image {
    background-color:#000426;
        position: relative;
        text-align: center;
        width: 100%;
        height: 100%;
        margin-top: 60px;
        background-size: cover;
        overflow: hidden;
       
}
    


h3{
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    word-spacing: 40px;
    letter-spacing: 5px;
    
}
.center {
    
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color:#fafafa
    
    
  }




#events>h2 {
   
    font-size: 50px;
    margin: 60px;
    padding: 30px;
    border-bottom: 1px solid black;
    font-weight: 500;
    width: 20%;
    
}
#events > p {
    font-size: 30px;
   text-align: center;
    margin: 60px;
    padding: 10px;
    width: 90%;
}

#events a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    text-align: center;
    left: 35%;
    top: 40px;
    
   margin-left: 13%;
    border-radius: 10px;
   
    
}

.table {
    margin: 0 auto;
    text-align: center;
    left: 18%;
    font-size: 30px;
    border: 1px solid rgb(47, 46, 46);
    border-radius: 20px;
    height: 450px;
    width: 60%;
}

#events a:hover {
    background-color: #752d2d;
    color: #fafafa;
    
    
}

#contact h2 {
    font-size: 50px;
    margin:90px 80px 30px 80px;
    padding: 30px;
    border-bottom: 1px solid black;
    font-weight: 500;
    width: 20%;
}

.links i:hover {
    transform: scale(1.7);
}


.links a{
    text-decoration: none;
}
.links{
     text-align: center;
    margin: 60px;
   
   
}
.links i {
    font-size: 40px;
    text-align: center;
    margin: 50px;
}

#contact h4 {
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    word-spacing: 10px;
    letter-spacing: 4px;
    margin-left: 60px;
    padding: 50px;
    font-size: 25px;
    
}


.section h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
    font-weight: 600;
 
    
}

#form
 {
    
   box-sizing: border-box;
       height: 450px;  
    width: 400px;
  margin: 70px auto;
    padding: 50px;
    top:0;
    border: 2px solid black;
}


input[type=text], input[type=email]{
    width: 100%;
    height: 25px;
    margin: 30px;
    padding: 3px;
    border: 1px solid black;
}




label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    text-transform:uppercase;
    border-bottom: 1px solid black;

}

.area {
    
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    margin-left: 20px;
    border: 2px solid black;
    border-radius: 10px;
}



#submit{
    margin-top: 20%;
    margin-left: 25%;
    width: 45%;
    height: 15%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 6%;
    font-size: 26px;
    font-weight: bold;
   
}

#submit:hover {
    background-color: #752d2d;
    color: #fafafa;
    transform: scale(1.2);
}





#gallery {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    overflow: hidden;
   text-align: center;
    column-count: 1;
     margin: 0 auto;
     
}



@media screen and (max-width: 1200px){
    
    body  {
        width: 65%;
        height: auto;
        margin:0 auto;
    }
    
    

    }
    #navigation {
        padding: 30px 0;
        margin-top: 0;
        
    }

    #events {
        width:100%;
        padding: 0;
    }

    #events a{
        left: 25%;
      }

    #contact {
        width: 100%;
        
        float: left;
    }

    h3 {
        word-spacing: 4px;
    }

    .image img{
        box-sizing: border-box;
        width: 100%;
        
    }
    #gallery img{
        box-sizing: border-box;
        width: 100%;
    }






@media screen and (max-width: 950px){
    

    #logo{
        left: -10%;    
        width: auto;    
    }

    
    #events{
        text-align: center;
    }

    #events a {
        box-sizing: border-box;
       left: -1%;
        
    }

    .table {
       margin: 0 auto;
    }
    #gallery img {
        
        box-sizing: border-box;
        width: 100%;
    }

}


@media screen and (max-width: 800px){
    
    #logo {
        letter-spacing: 10px;
        font-size: 35px;
    }
    #navigation{
        display: inline-block;
        word-spacing: 20px;
        text-align: center;
        font-size: 26px;
    }
    #events h2, p{
        text-align: center;
        margin: 0 auto;
        font-size: 30px;
    }
    
    
    #events a {
        margin: 0 auto;
        font-size: 25px;
    }
    .table td{
        font-size: 20px;
        margin-bottom: 20px;
    }
    #contact h2{
        text-align: center;
        margin: 0 auto;
        font-size: 30px;
        margin-top: 15%;
        padding-bottom: 20px;
    }
    #contact h4{
        text-align: center;
        font-size: 20px;
    }
    #contact i {
        padding: 13px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    margin: 0 auto;
    }
    
}


@media screen and (max-width: 500px) {
        
    #logo {
        box-sizing: border-box;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        letter-spacing: 10px;;
        font-size: 30px;
    }
    #navigation{
        display: inline-block;
        word-spacing: 10px;
        text-align: center;
        font-size: 25px;
    }

    
    #events h2 {
        font-size: 20px;
    }
    
    #events p {
        height: fit-content;
       width: fit-content;
       text-align: center;
        display:contents;
        display: table-row-group;
       row-gap: 10px;
       justify-content: space-evenly;
       font-size: 15px;
       
    }
    
    #events a {
        font-size: 15px;
    }

 .table tr{
    
    margin-top: 20px;
    width:100%;
    font-size: 15px;
 }

 #contact h2 {
    font-size: 20px;
    text-align: center;
 }
 #contact h4 {
    font-size: 15px;
    margin: 0 auto;
 }

 #contact i {
    padding: 13px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 0 auto;
 }

}
    
@media screen and (max-width: 500px) {
        
    #logo {
        box-sizing: border-box;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        letter-spacing: 10px;;
        font-size: 30px;
    }
    #navigation{
        display: inline-block;
        word-spacing: 10px;
        text-align: center;
        font-size: 25px;
    }

    
    #events h2 {
        font-size: 20px;
    }
    
    #events>p {
        height: fit-content;
       width: fit-content;
       text-align: center;
        display:contents;
        display: table-row-group;
       row-gap: 10px;
       justify-content: space-evenly;
       font-size: 15px;
    }
    
    #events a {
        font-size: 15px;
    }

 .table tr{
    
    margin: 10px ;
    width:100%;
    font-size: 15px;
 }

 #contact h2 {
    font-size: 20px;
 }
 #contact h4 {
    font-size: 15px;
 }
 #form {
     margin: 0 auto;
     box-sizing: border-box;
     text-align: center;
     width: 100%;
     word-spacing: 20px;
 }
 label {
    font-size: 10px bold;
    text-align: center;
    
 } 
 
 input[type=text], input[type=email]{
    margin: 35px auto;
    width: 100%;
    height: 15px;
    

  }
 #submit {
    margin-right: 40px;
    width: 50%;
 }
}